/* --viridian-green: #129490ff;
--red-salsa: #f03a47ff;
--rich-black-fogra-29: #011627ff;
--purpureus: #9055a2ff;
--amethyst: #9067c6ff; */

/* Move this into a MUI Global CSS theme*/
/* https://material-ui.com/customization/globals/ */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, h3, p {
  color: rgb(68, 70, 73);
}

section{
  padding: 96px 0;
}
